Flask
Flask-Login
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
Jinja2
matplotlib
numpy
Pillow
pipreqs
requests
SQLAlchemy
SQLAlchemy-serializer==1.4.1
sqlparse
Werkzeug
WTForms
