{% extends "base2.html" %}

{% block content %}
<style>
    body {
        color: white; /* Устанавливает белый цвет текста */
        background-color: #333; /* Темный фон для контраста */
    }

    input[type="text"], input[type="time"], input[type="submit"] {
        background-color: #444; /* Темный фон для полей */
        color: white; /* Белый цвет текста */
        border: none; /* Без границ */
        padding: 8px; /* Отступы внутри */
        border-radius: 4px; /* Скругленные углы */
        width: 100%; /* Ширина элемента */
        box-sizing: border-box; /* Размеры включают padding и border */
        margin-bottom: 10px; /* Отступ снизу для каждого элемента */
    }

    input[type="submit"] {
        background-color: #F44336; /* Красный фон кнопки */
        cursor: pointer; /* Курсор в виде указателя */
    }

    input[type="submit"]:hover {
        background-color: #f9a825; /* Желтый фон при наведении */
    }

    form div {
        margin-bottom: 10px; /* Отступы между блоками в форме */
    }
</style>

<body>
    <h1>{{page_title}} тренировку</h1>
    <form method="post">
    <div>
        <input type="text" name="title" placeholder="Название" value="{{ title_text }}" required>
        <input type="text" name="type" placeholder="Тип" value="{{ type_text }}" required>
    </div>
    <div>
        <input type="time" name="start" value="{{ start_text }}" required>-
        <input type="time" name="end" value="{{ end_text }}" required>
    </div>
    <input type="submit" value="{{ page_title }}" required>
</form>
    <h2>{{inf}}</h2>
</body>
{% endblock %}
