{% extends "base.html" %}

{% block content %}
<h1>Добавить</h1>
<form method="post">
    <input list="text" name="title" placeholder="Продукт">
    <datalist id="text">
        {% for item in products_list %}
        <option value='{{item}}'></option>
        {% endfor %}
    </datalist>
    <input type="number" placeholder="Масса" name="weight" value={{weight_text}} min='0' oninput="this.value = Math.abs(this.value)">
    <input type="submit" value="Добавить">
</form>
<h2>{{inf}}</h2>
{% endblock %}
