{% extends "base2.html" %}

{% block content %}
<style>
    body {
        color: white; /* Устанавливает белый цвет текста для всего текста в body */
        background-color: #333; /* Темный фон для контрастности */
    }

    input[type="text"], input[type="number"], input[type="submit"], input[type="date"], datalist {
        background-color: #444; /* Темный фон для полей ввода */
        color: white; /* Белый текст */
        border: none; /* Убираем границы */
        padding: 8px; /* Паддинг для полей */
        border-radius: 4px; /* Скругление углов */
    }

    input[type="submit"] {
        background-color: #F44336; /* Красный фон для кнопок submit */
        cursor: pointer; /* Курсор в виде указателя */
    }

    input[type="submit"]:hover {
        background-color: #ffb700; /* Желтый фон при наведении на кнопки submit */
    }
</style>

<body>
    <h1>{{title_text}}</h1>
    <form method="post">
        <input list="text" name="title" style="width: 100%;"> <!-- Добавил стиль width -->
        <datalist id="text">
            {% for item in products_list %}
            <option value="{{item}}"></option>
            {% endfor %}
        </datalist>
        <input type="number" placeholder="Масса" name="weight" value={{weight_text}} min='0' oninput="this.value = Math.abs(this.value)" style="width: 100%;"> <!-- Добавил стиль width -->
        <input type="submit" value="Сохранить" style="width: 100%;"> <!-- Добавил стиль width -->
    </form>
    <h2>{{inf}}</h2>
</body>
{% endblock %}
