{% extends "base2.html" %}

{% block content %}
    <style type="text/css">
        /* Стиль для текста в блоке содержимого */
        h1, h2, p, a {
            color: white; /* Устанавливаем цвет текста на белый */
        }

        /* Остальные стили */
        .alert {
            color: white; /* Устанавливаем цвет текста на белый */
        }

        /* Установка цвета текста для кнопки отправки формы */
        .btn-primary {
            color: white; /* Установка цвета текста на чёрный */
        }
        .card h2 {
            margin-top: 0; /* Убираем верхний отступ у заголовка */
            word-wrap: break-word; /* Переносим текст после 11 символов */
        }
    </style>
<h1>Добавление цели</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.priority.label }}<br>
        {{ form.priority(class="form-control") }}<br>
        {% for error in form.priority.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.finish_date.label }}<br>
        {{ form.finish_date(class="form-control") }}<br>
        {% for error in form.finish_date.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary", style="background: #ffb700") }}</p>
    {{message}}
</form>

{% endblock %}
