<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Яндекс фитнес</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body style="background-image: url('/static/images/cats-gym.gif'); background-repeat: no-repeat; background-size: cover;">
<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo" style="color: #ffb700">Яндекс.Фитнес</a>
        {% if current_user.is_authenticated %}
        <ul class="right hide-on-med-and-down">
            <li><a href="/profile" class="yellow darken-2 white-text">{{current_user.name}}</a></li>
        </ul>
        {% else %}

        <ul class="right hide-on-med-and-down">
            <li><a href="/login" class="red lighten-1 white-text">Войти</a></li>
            <li><a href="/register" class="yellow darken-3 white-text">Регистрация</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Начни меняться сегодня! С нами проще!</h1>
        <div class="row center">
            <h5 class="header col s12 light" style="color: whitesmoke">"Не разбив яиц, омлет не приготовишь." - Тайлер Дерден</h5>
        </div>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="card" style="background: rgba(9,5,5,0.34)">
                    <div class="card-content">
                        <span class="card-title center light-blue-text"><i class="material-icons large" style="color: #ffb700">favorite</i></span>
                        <h5 class="center" style="color: whitesmoke">Делайте заметки о здоровье</h5>
                        <p class="light" style="color: white; font-size: 20px">Ведение заметок о здоровье - ключ к лучшему самочувствию и качественной жизни. Каждый момент, каждое изменение - это возможность улучшить своё благополучие. Записывайте свои питательные привычки, физическую активность, уровень стресса и сон, чтобы лучше понимать свои потребности и прогресс. Будьте в курсе своего здоровья, чтобы предотвращать проблемы до их появления и находить мотивацию для улучшений. Делайте заметки о своём здоровье сегодня, чтобы обеспечить себе более здоровое и счастливое будущее. Каждый шаг к заботе о себе важен - не упускайте ни одной детали!</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card" style="background: rgba(9,5,5,0.34)">
                    <div class="card-content">
                        <span class="card-title center light-blue-text"><i class="material-icons large" style="color: #ffb700">fingerprint</i></span>
                        <h5 class="center" style="color: whitesmoke">Безопасность</h5>
                        <p class="light" style="color: white; font-size: 20px">наш сайт, ваше безопасное пристанище в мире онлайн! Здесь ваше благополучие - наша первоочередная задача. Мы гордимся тем, что предоставляем вам не только качественный контент, но и абсолютно безопасную среду для его потребления.

                            Наши системы защиты работают на всех уровнях, чтобы гарантировать вам непревзойденную безопасность при посещении нашего сайта. Мы тщательно следим за нашими серверами, используем самые современные методы шифрования данных и строго контролируем доступ к вашей личной информации.

                            Присоединяйтесь к нашему сообществу и наслаждайтесь своим онлайн-пребыванием без каких-либо беспокойств. Ваша безопасность - наш приоритет!</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4" >
                <div class="card" style="background: rgba(9,5,5,0.34)">
                    <div class="card-content">
                        <span class="card-title center light-blue-text"><i class="material-icons large" style="color: #ffb700">fitness_center</i></span>
                        <h5 class="center" style="color: whitesmoke">Следите за своей фигурой</h5>
                        <p class="light" style="color: white; font-size: 20px">Хотите достичь своих фитнес-целей и сохранить здоровье? Начните с контроля над своим рационом и уровнем активности! Наш заголовок - приглашение к активному образу жизни и балансированию питания. Ведите записи о том, что вы едите, и какие тренировки проводите. Узнайте, сколько калорий вы потребляете и сжигаете, чтобы достигать идеального баланса. Следите за своими успехами, отслеживайте прогресс и мотивируйте себя к новым достижениям. Фитнес и питание - это не просто стиль жизни, это путь к лучшей версии себя! Поймите, контролируйте, достигайте!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<footer class="page-footer red darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Наши контакты</h5>
                <p class="grey-text text-lighten-4">Достучаться до разработчиков данного произведения искусства можно с помощью:</p>
            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Команда разработчиков</h5>
                <ul>
                    <li><a class="white-text text-lighten-3" href="https://t.me/Egor_li">Егор - Телеграм</a></li>
                    <li><a class="white-text text-lighten-3" href="https://t.me/rammstee1n">Андрей - Телеграм</a></li>
                    <li><a class="white-text text-lighten-3" href="https://t.me/k1reedz">Кирилл - Телеграм</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Сделано <a class="orange-text text-lighten-3" href="https://lyceum.yandex.ru">студентами лицея академии Яндекс</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>
</body>
</html>
